@media all and (min-width: 850px) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .grid__cell--100 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%);
            flex: 0 0 calc(100%);
  }
  .grid__cell--75 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(75%);
            flex: 0 0 calc(75%);
  }
  .grid__cell--66 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(66%);
            flex: 0 0 calc(66%);
  }
  .grid__cell--50 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50%);
            flex: 0 0 calc(50%);
  }
  .grid__cell--33 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33%);
            flex: 0 0 calc(33%);
  }
  .grid__cell--25 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(25%);
            flex: 0 0 calc(25%);
  }
  .grid__cell--16 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(16%);
            flex: 0 0 calc(16%);
  }
}
@media all and (max-width: 849px) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .grid__cell--100 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%);
            flex: 0 0 calc(100%);
  }
  .grid__cell--75 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%);
            flex: 0 0 calc(100%);
  }
  .grid__cell--66 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%);
            flex: 0 0 calc(100%);
  }
  .grid__cell--50 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%);
            flex: 0 0 calc(100%);
  }
  .grid__cell--33 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%);
            flex: 0 0 calc(100%);
  }
  .grid__cell--25 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%);
            flex: 0 0 calc(100%);
  }
  .grid__cell--16 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%);
            flex: 0 0 calc(100%);
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 15px;
  margin: 0px;
}

img {
  max-width: 100%;
}

.button__topbar {
  color: #000000;
  font-size: 15px;
  line-height: 20px;
  font-family: "GeneralSans-Regular";
  background-color: #00000000;
  border: none;
  text-align: right;
  height: 0px;
}
@media all and (max-width: 849px) {
  .button__topbar {
    text-align: center;
    padding-right: 20px;
  }
}
.button__topbar--home {
  text-decoration: none;
}
.button__topbar--contact {
  color: #000000;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  text-align: right;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.label p {
  line-height: 20px;
}
.label > *:first-child {
  margin-right: auto;
}
.label__category p {
  color: #C4C4C4;
}

.column__right {
  margin-left: auto;
}
.column__padding {
  padding: 20px 0px 0px 18px;
}
@media all and (max-width: 849px) {
  .column__padding {
    padding: 5px 0px;
  }
}
.column__margin--top {
  margin-top: 60px;
}
.column__margin--top--small {
  margin-top: 10;
}
.column__margin--top--medium {
  margin-top: 90px;
}
.column__margin--top--big {
  margin-top: 240px;
}
@media all and (max-width: 849px) {
  .column__margin--top--big {
    margin-top: 60px;
  }
}
.column__margin--bottom {
  margin-bottom: 60px;
}
.column__margin--bottom--small {
  margin-bottom: 30px;
}
.column__margin--bottom--top {
  margin-top: 60px;
  margin-bottom: 60px;
}

.line {
  height: 1px;
  color: #C4C4C4;
}
.line__margin--top {
  margin-top: 30px;
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.topbar > *:first-child {
  margin-right: auto;
}

@font-face {
  font-family: "GeneralSans-Extralight";
  src: url("../../typography/GeneralSans-Extralight.eot") format("eot"), url("../../typography/GeneralSans-Extralight.ttf") format("ttf"), url("../../typography/GeneralSans-Extralight.woff") format("woff"), url("../../typography/GeneralSans-Extralight.woff2") format("woff2");
}
@font-face {
  font-family: "GeneralSans-ExtralightItalic";
  src: url("../../typography/GeneralSans-ExtralightItalic.eot") format("eot"), url("../../typography/GeneralSans-ExtralightItalic.ttf") format("ttf"), url("../../typography/GeneralSans-ExtralightItalic.woff") format("woff"), url("../../typography/GeneralSans-ExtralightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "GeneralSans-Regular";
  src: url("../../typography/GeneralSans-Regular.eot") format("eot"), url("../../typography/GeneralSans-Regular.ttf") format("ttf"), url("../../typography/GeneralSans-Regular.woff") format("woff"), url("../../typography/GeneralSans-Regular.woff2") format("woff2");
}
h1,
h3 {
  font-family: "GeneralSans-Extralight";
}

.h1__title--project {
  color: #000000;
  font-size: 70px;
  line-height: 80px;
  font-family: "GeneralSans-ExtralightItalic";
}
@media all and (max-width: 850px) {
  .h1__title--project {
    color: #000000;
    font-size: 30px;
    line-height: 40px;
  }
}

h4,
h5,
h6,
p,
a {
  font-family: "GeneralSans-Regular";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

h2 {
  font-family: "GeneralSans-ExtralightItalic";
}

h1 {
  color: #000000;
  font-size: 80px;
  line-height: 80px;
}
@media all and (max-width: 850px) {
  h1 {
    color: #000000;
    font-size: 30px;
    line-height: 40px;
  }
}

h2 {
  color: #000000;
  font-size: 40px;
  line-height: 50px;
}
@media all and (max-width: 850px) {
  h2 {
    color: #000000;
    font-size: 30px;
    line-height: 40px;
  }
}

h3 {
  color: #000000;
  font-size: 25px;
  line-height: 35px;
}
@media all and (max-width: 850px) {
  h3 {
    color: #000000;
    font-size: 20px;
    line-height: 35px;
  }
}

h4 {
  color: #000000;
  font-size: 15px;
  line-height: 20px;
}

p {
  color: #000000;
  font-size: 15px;
  line-height: 25px;
}

body.dark__mode {
  background-color: #000000;
  color: #FFFFFF;
}
body.dark__mode a {
  color: #757373;
}
body.dark__mode button {
  background-color: none;
  color: #757373;
}
body.dark__mode h1,
body.dark__mode h2,
body.dark__mode h3,
body.dark__mode h4,
body.dark__mode h5,
body.dark__mode p {
  color: #FFFFFF;
}
body.dark__mode .label__title {
  color: #FFFFFF;
}
body.dark__mode .label__category {
  color: #757373;
}

body.light__mode {
  background-color: #FFFFFF;
  color: #000000;
}
body.light__mode a {
  color: #C4C4C4;
}
body.light__mode button {
  background-color: none;
  color: #C4C4C4;
}
body.light__mode .label__category {
  color: #C4C4C4;
}

.image {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.opacity-img:hover .image {
  opacity: 0.3;
}