@media all and (min-width: 850px) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .grid__cell--80 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(80%);
            flex: 0 0 calc(80%);
  }
  .grid__cell--60 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(60%);
            flex: 0 0 calc(60%);
  }
  .grid__cell--50 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50%);
            flex: 0 0 calc(50%);
  }
  .grid__cell--40 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(40%);
            flex: 0 0 calc(40%);
  }
  .grid__cell--20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(20%);
            flex: 0 0 calc(20%);
  }
}
@media all and (max-width: 849px) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .grid__cell--80, .grid__cell--60, .grid__cell--50, .grid__cell--40, .grid__cell--20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%);
            flex: 0 0 calc(100%);
  }
}
.column__right {
  margin-left: auto;
}
.column__padding {
  padding: 20px 0px 0px 18px;
}
@media all and (max-width: 849px) {
  .column__padding {
    padding: 5px 0px;
  }
}
.column__padding--top {
  padding-top: 60px;
}
.column__padding--top--small {
  padding-top: 10px;
}
.column__padding--top--medium {
  padding-top: 120px;
}
.column__padding--top--big {
  padding-top: 240px;
}
@media all and (max-width: 849px) {
  .column__padding--top--big {
    padding-top: 60px;
  }
}
.column__padding--bottom {
  padding-bottom: 60px;
}
.column__padding--bottom--small {
  padding-bottom: 30px;
}
.column__padding--bottom--medium {
  padding-bottom: 120px;
}
.column__padding--bottom--big {
  padding-bottom: 240px;
}
@media all and (max-width: 849px) {
  .column__padding--bottom--big {
    padding-bottom: 60px;
  }
}
.column__padding--bottom--top {
  padding-top: 60px;
  padding-bottom: 60px;
}
.column__padding--left {
  padding-left: 30px;
}
@media all and (max-width: 849px) {
  .column__padding--left {
    padding-left: 0;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0 15px 15px 15px;
  margin: 0;
}

img {
  max-width: 100%;
}

.button__topbar {
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  font-family: "GeneralSans-Regular";
  background-color: #00000000;
  border: none;
  text-align: right;
  height: 0px;
}
@media all and (max-width: 849px) {
  .button__topbar {
    text-align: center;
    padding-right: 20px;
  }
}
.button__topbar--home {
  text-decoration: none;
}
.button__topbar--contact {
  color: #000000;
  font-size: 18px;
  line-height: 25px;
  font-family: "GeneralSans-Regular";
  text-decoration: none;
  text-align: right;
}
.button__contact {
  border: 1px solid #000000;
  border-radius: 50px;
  padding: 0px 20px 5px 20px;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.label p {
  line-height: 20px;
}
.label > *:first-child {
  margin-right: auto;
}
.label__category p {
  color: #C4C4C4;
}

.line {
  height: 1px;
  color: #C4C4C4;
}
.line__margin--top {
  margin-top: 30px;
}

.toggle {
  padding: 0px;
  list-style: none;
  border-bottom: 1px solid #C4C4C4;
  margin-bottom: 30px;
}

.toggle ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toggle li {
  position: relative;
  padding-bottom: 10px;
  cursor: pointer;
}

.toggle span {
  position: absolute;
  top: 0;
  right: 0;
  width: 43px;
  height: 100%;
  font-size: 30px;
  text-align: center;
}

.toggle .panel {
  display: none;
  position: relative;
  padding-top: 30px;
}

.topbar {
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 98%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.contact__menu {
  color: #000000;
}
.contact__menu--right {
  text-align: right;
}
@media all and (max-width: 849px) {
  .contact__menu--right {
    text-align: inherit;
  }
}
.contact__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contact__menu a {
  color: #000000;
  font-size: 25px;
  line-height: 35px;
  text-decoration: none;
  font-family: "GeneralSans-LightItalic";
  color: #000000;
}
.contact__menu a:hover {
  color: #000000;
  font-family: "GeneralSans-Light";
}

@font-face {
  font-family: "GeneralSans-Extralight";
  src: url("../../typography/GeneralSans-Extralight.eot") format("eot"), url("../../typography/GeneralSans-Extralight.ttf") format("ttf"), url("../../typography/GeneralSans-Extralight.woff") format("woff"), url("../../typography/GeneralSans-Extralight.woff2") format("woff2");
}
@font-face {
  font-family: "GeneralSans-ExtralightItalic";
  src: url("../../typography/GeneralSans-ExtralightItalic.eot") format("eot"), url("../../typography/GeneralSans-ExtralightItalic.ttf") format("ttf"), url("../../typography/GeneralSans-ExtralightItalic.woff") format("woff"), url("../../typography/GeneralSans-ExtralightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "GeneralSans-Regular";
  src: url("../../typography/GeneralSans-Regular.eot") format("eot"), url("../../typography/GeneralSans-Regular.ttf") format("ttf"), url("../../typography/GeneralSans-Regular.woff") format("woff"), url("../../typography/GeneralSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "GeneralSans-Light";
  src: url("../../typography/GeneralSans-Light.eot") format("eot"), url("../../typography/GeneralSans-Light.ttf") format("ttf"), url("../../typography/GeneralSans-Light.woff") format("woff"), url("../../typography/GeneralSans-Light.woff2") format("woff2");
}
@font-face {
  font-family: "GeneralSans-LightItalic";
  src: url("../../typography/GeneralSans-LightItalic.eot") format("eot"), url("../../typography/GeneralSans-LightItalic.ttf") format("ttf"), url("../../typography/GeneralSans-LightItalic.woff") format("woff"), url("../../typography/GeneralSans-LightItalic.woff2") format("woff2");
}
h1 {
  font-family: "GeneralSans-Extralight";
}

.h1__title--project {
  color: #000000;
  font-size: 70px;
  line-height: 80px;
  font-family: "GeneralSans-ExtralightItalic";
}
@media all and (max-width: 850px) {
  .h1__title--project {
    color: #000000;
    font-size: 30px;
    line-height: 40px;
  }
}

h2 {
  font-family: "GeneralSans-ExtralightItalic";
}

h4,
h5,
p {
  font-family: "GeneralSans-Regular";
}

h3,
h6 {
  font-family: "GeneralSans-Light";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

h1 {
  color: #000000;
  font-size: 70px;
  line-height: 70px;
}
@media all and (max-width: 850px) {
  h1 {
    color: #000000;
    font-size: 30px;
    line-height: 40px;
  }
}

h2 {
  color: #000000;
  font-size: 40px;
  line-height: 50px;
}
@media all and (max-width: 850px) {
  h2 {
    color: #000000;
    font-size: 30px;
    line-height: 40px;
  }
}

h3 {
  color: #000000;
  font-size: 25px;
  line-height: 35px;
}
@media all and (max-width: 850px) {
  h3 {
    color: #000000;
    font-size: 20px;
    line-height: 35px;
  }
}

h4 {
  color: #000000;
  font-size: 15px;
  line-height: 20px;
}

h6 {
  color: #000000;
  font-size: 18px;
  line-height: 20px;
}

p {
  color: #000000;
  font-size: 15px;
  line-height: 25px;
}

body.light__mode {
  background-color: #FFFFFF;
  color: #000000;
}
body.light__mode .contact__menu a {
  color: #000000;
}
body.light__mode .topbar {
  background-color: #FFFFFF;
}
body.light__mode a {
  color: #C4C4C4;
}
body.light__mode button {
  background-color: none;
  color: #C4C4C4;
}
body.light__mode .label__category {
  color: #C4C4C4;
}

body.dark__mode {
  background-color: #000000;
  color: #FFFFFF;
}
body.dark__mode .contact__menu a {
  color: #FFFFFF;
}
body.dark__mode .topbar {
  background-color: #000000;
}
body.dark__mode a {
  color: #757373;
}
body.dark__mode button {
  background-color: none;
  color: #757373;
}
body.dark__mode h1,
body.dark__mode h2,
body.dark__mode h3,
body.dark__mode h4,
body.dark__mode h5,
body.dark__mode h6,
body.dark__mode p {
  color: #FFFFFF;
}
body.dark__mode .label__title {
  color: #FFFFFF;
}
body.dark__mode .label__category {
  color: #757373;
}

.image {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.opacity-img:hover .image {
  opacity: 0.3;
}