.contact__menu {
    color: $black;
    align-items: flex-end;

    &--right {
        text-align: right;
        @media all and (max-width: 849px) {
            text-align: inherit;
        }
    }

    &--cv {
        margin-bottom: 35px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    a {
        @include fontStyle (25px, 35px);
        text-decoration: none;
        font-family: 'GeneralSans-LightItalic';
    }

    a:hover {
        color: $black;
        font-family: 'GeneralSans-Light';
    }

    .button__contact:hover {
        font-family: 'GeneralSans-LightItalic';
    }
}

// Dark/Light Mode
body.light__mode{
    .contact__menu a {
        color: $black;
    }
}

body.dark__mode{
    .contact__menu a {
        color: $white;
    }
}