.topbar {
    position: fixed;
    width: 100%;
    display: flex;
    padding: 15px 0;
    z-index: 1;
     > *:nth-child(1) {
            margin-right: auto;
    }
}

// MENU CONTACT
.menu__contact {
    align-items: flex-end;

    &--index {
        margin-top: $unit;
    }

    &--right {
        text-align: right;
        @media all and (max-width: 849px) {
            text-align: inherit;
        }
    }

    &--cv {
        margin-bottom: 30px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &--mobile {
        display: flex;
        justify-content: flex-end;
    }

    a {
        @include fontStyle (25px, 35px);
        text-decoration: none;
        font-family: 'GeneralSans-Light';
    }

    .button__contact--link:hover a{
        font-family: 'GeneralSans-LightItalic';
    }

    .button__contact:hover a{
        font-family: 'GeneralSans-Regular';
    }
}

// MENU FOOTER

.menu__footer {
    border-style: solid none none;
    border-color: #c4c4c48a;;
    border-width: 0.5px;
    padding: 10px 0 0 0 ;
    align-items: center;
    display: flex;
    @media all and (max-width: 849px) {
        > *:first-child {
            margin-right: auto;
    }
    }

    & li{
        @media all and (max-width: 849px) {
            padding-top: 10px;
        }
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        margin: 0px;
        @media all and (max-width: 849px) {
            padding: 0px;
        }
        
    }

    & a {
        text-decoration: none;
        padding: 0 0 0 15px;
        @media all and (max-width: 849px) {
            padding: 30 0 0 15px;
        }
    }
}

// DARK/LIGHT
body.light__mode{

    // .topbar
    .topbar {
        background-color: $white;

        a:hover {
            color: $black;
        }
    }

    // .menu__contact
    .menu__contact a {
        color: $black;
    }

    .menu__footer a {
        color: $grey;

        &:hover {
            color: $black;
        }
    }
}

body.dark__mode{

    // .topbar
    .topbar {
        background-color: $black;

        a:hover {
            color: $white;
        }
    }

    // .menu__contact
    .menu__contact a {
        color: $white;
    }

    // .menu__footer
    .menu__footer a {
        color: $grey-dark;

        &:hover {
            color: $white;
        }
    }
}