// .topbar {
//     display: flex;
//     > *:first-child {
//         margin-right: auto;
//       }
// }

.topbar {
  position: fixed;
  justify-content: space-between;
  width: 98%;
  margin: 0px auto;
  display: flex;
  padding: $unit--small 0;
}