.column {

    &__right {
        margin-left: auto;    
    }

    &__flex-end {
        display: flex;
        justify-content: flex-end;
    }

    &__padding {
        padding: 0 0 25px 18px;
        @media all and (max-width: 849px) {
            padding: 5px 0;
        }
    }

    &__img {
        display: flex;
        padding: 10px;
        align-items: center;
        @media all and (max-width: 849px) {
            padding: 0;
        }
    }

    //PADDING TOP

    &__padding--top {
        padding-top: $space;
    }

    &__padding--top--small {
        padding-top: $unit--small;
    }

    &__padding--top--medium {
        padding-top: $space--medium;
    }

    &__padding--top--big {
        padding-top: $space--big;
        @media all and (max-width: 849px) {
            padding-top: $space--medium;
        }

        &--mobile {
            @media all and (max-width: 849px) {
                padding-top: $space--medium;
            }
        }
    }

    // PADDING BOTTOM

    &__padding--bottom {
        padding-bottom: $space;
    }

    &__padding--bottom--small {
        padding-bottom: $unit;
    }

    &__padding--bottom--medium {
        padding-bottom: $space--medium;
    }

    &__padding--bottom--big {
        padding-bottom: $space--big;
        @media all and (max-width: 849px) {
            padding-bottom: $space;
        }
    }

    &__padding--bottom--top {
        padding-top: $space;
        padding-bottom: $space;
    }

    &__padding--left {
        padding-left: $unit;
        text-align: right;
        @media all and (max-width: 849px) {
            padding-left: 0;
            text-align: center;
        }
    }

    //Column special
    &__article {
        display: flex;
        align-items: flex-end;
        height: 100vh;
        padding-bottom: 20px;
        @media all and (max-width: 849px) {
            padding-top: $space--medium;
        }
    }
}


.margin-top {
    padding-top: 30px;
}

