//-----> $SPACE
$unit: 30px;
$space: $unit * 2;
$space--medium: $space * 1.5;
$space--big: $space * 4;
$padding: $unit;

//-----> $COLORS
$white: #FFFFFF;
$black : #000000;
$grey: #C4C4C4;
$grey-dark: #757373;

