
body.dark__mode {
    background-color: $black;
    color: $white;

    a {
        color: $grey-dark;
    }
    button {
        background-color: none;
        color: $grey-dark;
    } 
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $white;
    }
    .tags__title {
        color: $white;
    }
    .tags__category {
        color: $grey-dark;
    }
}



body.light__mode {
        background-color: $white;
        color: $black;
    a {
        color: $grey;
    }
    button {
        background-color: none;
        color: $grey;
    }
    .tags__category {
        color: $grey;
    }
}