body.light__mode {
    background-color: $white;
    color: $black;

.contact__menu a {
    color: $black;
}
.topbar {
    background-color: $white;
}
a {
    color: $grey;
}
button {
    background-color: none;
    color: $grey;
}
.label__category {
    color: $grey;
}
}

body.dark__mode {
    background-color: $black;
    color: $white;

    .contact__menu a {
        color: $white;
    }
    .topbar {
        background-color: $black;
    }
    a {
        color: $grey-dark;
    }
    button {
        background-color: none;
        color: $grey-dark;
    } 
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        color: $white;
    }
    .label__title {
        color: $white;
    }
    .label__category {
        color: $grey-dark;
    }
}
