@font-face {
    font-family: 'GeneralSans-Regular';
    font-weight: 300;
    src: url('../../typography/GeneralSans-Regular.eot') format('eot'),
    url('../../typography/GeneralSans-Regular.ttf') format('ttf'),
    url('../../typography/GeneralSans-Regular.woff') format('woff'),
    url('../../typography/GeneralSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'GeneralSans-Italic';
    font-weight: 300;
    src: url('../../typography/GeneralSans-Italic.eot') format('eot'),
    url('../../typography/GeneralSans-Italic.ttf') format('ttf'),
    url('../../typography/GeneralSans-Italic.woff') format('woff'),
    url('../../typography/GeneralSans-Italic.woff2') format('woff2');
}

h1,
h2,
h3,
h4,
h5,
h6
p {
    font-family: 'GeneralSans-Regular';
    color: $black;
}

h1 {
    @include fontStyle (100px, 150px);
}

h2 {
    @include fontStyle (40px, 50px);
}

h3 {
    @include fontStyle (30px, 40px);
}

h4 {
    @include fontStyle (15px, 20px);
}

p {
    @include fontStyle (15px, 20px);
}