@font-face {
    font-family: 'GeneralSans-Extralight';
    src: url('../../typography/GeneralSans-Extralight.eot') format('eot'),
    url('../../typography/GeneralSans-Extralight.ttf') format('ttf'),
    url('../../typography/GeneralSans-Extralight.woff') format('woff'),
    url('../../typography/GeneralSans-Extralight.woff2') format('woff2');
}

@font-face {
    font-family: 'GeneralSans-ExtralightItalic';
    src: url('../../typography/GeneralSans-ExtralightItalic.eot') format('eot'),
    url('../../typography/GeneralSans-ExtralightItalic.ttf') format('ttf'),
    url('../../typography/GeneralSans-ExtralightItalic.woff') format('woff'),
    url('../../typography/GeneralSans-ExtralightItalic.woff2') format('woff2');
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'GeneralSans-Extralight';
    color: $black;
}

h1 {
    @include fontStyle (70px, 70px);
}

h2 {
    @include fontStyle (40px, 50px);
}

h3 {
    @include fontStyle (25px, 35px);
}

h4 {
    @include fontStyle (15px, 20px);
}

p {
    @include fontStyle (15px, 25px);
}