@font-face {
    font-family: 'GeneralSans-Extralight';
    src: url('../../typography/GeneralSans-Extralight.eot') format('eot'),
    url('../../typography/GeneralSans-Extralight.ttf') format('ttf'),
    url('../../typography/GeneralSans-Extralight.woff') format('woff'),
    url('../../typography/GeneralSans-Extralight.woff2') format('woff2');
}

@font-face {
    font-family: 'GeneralSans-ExtralightItalic';
    src: url('../../typography/GeneralSans-ExtralightItalic.eot') format('eot'),
    url('../../typography/GeneralSans-ExtralightItalic.ttf') format('ttf'),
    url('../../typography/GeneralSans-ExtralightItalic.woff') format('woff'),
    url('../../typography/GeneralSans-ExtralightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'GeneralSans-Regular';
    src: url('../../typography/GeneralSans-Regular.eot') format('eot'),
    url('../../typography/GeneralSans-Regular.ttf') format('ttf'),
    url('../../typography/GeneralSans-Regular.woff') format('woff'),
    url('../../typography/GeneralSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'GeneralSans-Light';
    src: url('../../typography/GeneralSans-Light.eot') format('eot'),
    url('../../typography/GeneralSans-Light.ttf') format('ttf'),
    url('../../typography/GeneralSans-Light.woff') format('woff'),
    url('../../typography/GeneralSans-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'GeneralSans-LightItalic';
    src: url('../../typography/GeneralSans-LightItalic.eot') format('eot'),
    url('../../typography/GeneralSans-LightItalic.ttf') format('ttf'),
    url('../../typography/GeneralSans-LightItalic.woff') format('woff'),
    url('../../typography/GeneralSans-LightItalic.woff2') format('woff2');
}

h1,
h2,
h3 {
    font-family: 'GeneralSans-Extralight';
}

h4,
h5,
h6,
p {
    font-family: 'GeneralSans-Regular';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    line-height: 1.2;
}

h1 {
    font-size: clamp(2.5rem, -0.875rem + 5vw, 6rem);
}

h2 {
    font-size: clamp(2rem, -0.875rem + 8.333vw, 3rem);
}

h3 {
    font-size: clamp(1.2rem, -0.875rem + 8.333vw, 1.7rem);
    a {
        text-decoration: none;
    }
}

h4,
h6,
p {
    font-size: 1rem;
    line-height: 25px;
}