@media all and (min-width: 850px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
    
            &__cell {
    
            &--100 {
                flex: 0 0 calc(100%);
            }
    
            &--75 {
                flex: 0 0 calc(75%);
            }

            &--66 {
                flex: 0 0 calc(66%);
            }
            &--50 {
                flex: 0 0 calc(50%);
            }
    
            &--33 {
                flex: 0 0 calc(33%);
                align-items: flex-end;
            }
    
            &--25 {
                flex: 0 0 calc(25%);
            }
        }
    }
}
