@media all and (min-width: 850px) {
    .grid {
        display: flex;
        flex-wrap: wrap;

        &__center {
            align-items: center;
            height: 100vh;
        }
    
            &__cell {
    
            &--80 {
                flex: 0 0 calc(80%);
            }

            &--60 {
                flex: 0 0 calc(60%);
            }

            &--50 {
                flex: 0 0 calc(50%);
            }
    
            &--40 {
                flex: 0 0 calc(40%);
            }

            &--33 {
                flex: 0 0 calc(33.33%);
            }

            &--25 {
                flex: 0 0 calc(25%);
            }

            &--24 {
                flex: 0 0 calc(24%);
            }

            &--20 {
                flex: 0 0 calc(20%);
            }

            &--15 {
                flex: 0 0 calc(15%);
            }
            
        }
    }
}

@media all and (max-width: 849px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
    
            &__cell {
    
            &--80,
            &--60,
            &--50,
            &--40,
            &--25,
            &--20,
            &--15 {
                flex: 0 0 calc(100%);
            }
        }
    }
}