.button {

    &__topbar {
        font-size: 1.1rem;
        font-family: 'GeneralSans-Regular';
        text-decoration: none;
        border: none;
        @media all and (max-width: 849px) {
            text-align: center;
        }

        &--home {
            text-decoration: none; 
        }

        &--link {
            min-width: 7%;
            text-align: right;
            cursor: pointer;

            &--destok {
                @media all and (max-width: 850px) {
                    display: none;
                }
            }
            }

        &--title {
            min-width: 50%;
        }

        &--darkmode {
            min-width: 4%;
            text-align: right;
            cursor: pointer;
            > *:nth-child(1) {
                margin-right: auto;
        }
        }
        
    }

    &__contact {
        display: inline-flex;
        text-decoration: none;
        border-radius: 50px;
        padding: 0 15px 0 15px;
        justify-content: center;
        
        a {
            text-decoration: none;
        }

        a:hover {
            font-family: 'GeneralSans-Regular';
        }
        
        &--link:hover  a{
            font-family: 'GeneralSans-LightItalic';
        }
    }
}

// Animation .button__contact
#button-contact {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button-contact a {
    position: relative;
    transition: all .35s ease-Out;
    padding-bottom: 5px;
}

#slide {
    width: 100%;
    height: 100%;
    left: -380px;
    position: absolute;
    transition: all .35s ease-Out;
}

#button-contact:hover #slide {
    left: 0;
}

// Dark/Light Mode .button__contact
body.light__mode{
    .button__contact {
        border: 1px solid $black;
    }

    .button__topbar--home,
    .button__topbar--darkmode {
        color: $black;
    }

    #link  a:active{
        color: black;
    }

    .button__topbar a:target{
        color: black;
    }

    #slide {
        background: $black;
    }

    #button-contact:hover a {
        color: $white;
    }
}

body.dark__mode{
    .button__contact {
        border: 1px solid $white;
    }

    #slide {
        background: $white;
    }

    .button__topbar--home,
    .button__topbar--darkmode {
        color: $white;
    }

    #button-contact:hover a {
        color: $black;
    }
}