.button {

    &__topbar {
        @include fontStyle (18px, 20px);
        font-family: 'GeneralSans-Regular';
        background-color: #00000000;
        border: none;
        text-align: right;
        height: 0px;
        @media all and (max-width: 849px) {
            text-align: center;
            padding-right: 20px;
        }

        &--home {
            text-decoration: none; 
        }

        &--contact {
            @include fontStyle (18px, 25px);
            font-family: 'GeneralSans-Regular';
            text-decoration: none;
            text-align: right;
            margin-right: $unit;
        }
    }

    &__contact {
        display: inline-flex;
        text-decoration: none;
        border-radius: 50px;
        padding: 0 15px 5px 15px;
        
        a {
            color: #BFC0C0;
            text-decoration: none;
            letter-spacing: 1px;
        }        
    }
}

// Animation .button__contact
#button-contact {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button-contact a {
    position: relative;
    transition: all .35s ease-Out;
}

#slide {
    width: 100%;
    height: 100%;
    left: -200px;
    position: absolute;
    transition: all .35s ease-Out;
}

#button-contact:hover #slide {
    left: 0;
}

// Dark/Light Mode .button__contact
body.light__mode{
    .button__contact {
        border: 1px solid $black;
    }

    #slide {
        background: $black;
    }

    #button-contact:hover a {
        color: $white;
    }
}
body.dark__mode{
    .button__contact {
        border: 1px solid $white;
    }

    #slide {
        background: $white;
    }

    #button-contact:hover a {
        color: $black;
    }
}