.column {
    &__right {
        margin-left: auto;
    }

    &__padding {
        padding: 20px 0px 0px 18px;
        @media all and (max-width: 849px) {
            padding: 5px 0px;
        }
    }

    &__padding--left {
        padding-left: $unit;
        @media all and (max-width: 849px) {
            padding-left: 0;
        }
    }

    &__margin--top {
        margin-top: $space;
    }

    &__margin--top--small {
        margin-top: $unit--small;
    }

    &__margin--top--medium {
        margin-top: $space--medium;
    }

    &__margin--top--big {
        margin-top: $space--big;
        @media all and (max-width: 849px) {
            margin-top: $space;
        }
    }

    &__margin--bottom {
        margin-bottom: $space;
    }

    &__margin--bottom--small {
        margin-bottom: $unit;
    }

    &__margin--bottom--top {
        margin-top: $space;
        margin-bottom: $space;
    }
}