.label{
    display: flex;
    
    & p{
        line-height: 30px;
    }
    > *:first-child {
        margin-right: auto;
    }

    @media all and (max-width: 849px) {
        display: inline;
    }
    
}

// Dark/Light Mode
body.light__mode{
    .label__category {
        color: $grey;
    }
}

body.dark__mode{
    .label__title {
        color: $white;
    }

    .label__category {
        color: $grey-dark;
    }
}